%footer.d-flex.justify-content-between
  .d-flex.align-items-center
    .copyright Copyright © 2023 SimplySmart Technologies Private Limited
  .d-flex
    %a{href: "/terms-and-conditions", class: "px-2 px-lg-4 py-1 py-lg-0"} Terms and Conditions
    %a{href: "/privacy_policy", class: "px-2 px-lg-4 py-1 py-lg-0"} Privacy Policy
    %a{href: "/refund-policy", class: "px-2 px-lg-4 py-1 py-lg-0"} Refund Policy
    %a{href: "/cancellation-policy", class: "px-2 px-lg-4 py-1 py-lg-0"} Cancellation Policy

