%nav.navbar.navbar-expand-lg.p-3  
  %a.navbar-brand.px-5.py-0.me-0{:href => ""}
    = image_tag("logo", :alt => "logo", :class => "ss-site-logo")
  %button.navbar-toggler{"aria-controls" => "navbarScroll", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarScroll", "data-bs-toggle" => "collapse", type: "button", :class => "border-0"}
    %span.navbar-toggler-icon
  #navbarScroll.collapse.navbar-collapse.ss-navbar
    %ul.navbar-nav.ms-auto.my-2.my-lg-0.navbar-nav-scroll
      %li.nav-item
        %a.nav-link.px-2.px-lg-4.py-0.active{"aria-current" => "page", href: "/"} Home
      %li.nav-item
        %a.nav-link.px-2.px-lg-4.py-0{href: "/about_us"} About Us
      %li.nav-item
        %a.nav-link.px-2.px-lg-4.py-0{href: "/solutions"} Solutions
      %li.nav-item
        %a.nav-link.px-2.px-lg-4.py-0{href: "/clients"} Clients
      %li.nav-item
        %a.nav-link.px-2.px-lg-4.py-0{href: "/contact_us"} Contact Us
