%div.ss-page-content.d-flex.flex-column.flex-1
  .card.ss-card.border-0.flex-1
    .card-body.d-grid.gap-5.px-4.py-5.p-lg-5
      %div
        %h2.fw-bold.text-primary.mb-4 Cancellation Policy
        %div.client-list.d-flex.flex-wrap
          %p.mb-0 
            SimplySmart services are offered on a subscription basis, which may include a one-time hardware investment (e.g., water meters) and an ongoing yearly subscription for access to features such as water consumption data and alerts. If you wish to cancel your subscription, you must contact your society's management committee directly
          %p.mb-0 In case the society management committee wishes to cancel the services on behalf of the entire society, they can raise a cancellation request with SimplySmart. Upon receiving such a request, SimplySmart will process the cancellation for all users associated with the society.

          %p.mb-0 Please note that SimplySmart does not manage individual subscriptions or payments. Any cancellation requests, whether raised by individuals or the society management committee, must be coordinated through the society. SimplySmart is not responsible for handling refunds or financial disputes related to subscription fees after the cancellation is processed.