%div.ss-page-content.d-flex.flex-column.flex-1
  .card.ss-card.border-0.flex-1
    .card-body.d-grid.gap-5.px-0.py-5
      %div.d-flex.gap-5.ps-5
        %div.flex-1
          %h2.fw-bold.text-primary What is SimplySmart?
          %p.mb-0 SimplySmart is an effective water management tool for residential and commercial projects. It comprises a water meter with a data recorder and transmitter, plus a cloud-based software platform that provides information on water consumption and data on several other parameters. When you opt for the SimplySmart water metering solution, you have to make a one-time investment in the Water Meter, whereas access to water consumption-related data is provided on a yearly
        %div.flex-1
          = image_tag("ss-mobile", :alt => "mobile", :class => "w-100")
      %div.d-flex.gap-5.px-5
        %div.flex-1
          = image_tag("ss-meters", :alt => "meters", :class => "w-100")      
        %div.flex-1
          %h2.fw-bold.text-primary SimplySmart Water Meters
          %p.mb-0 
            We provide 
            %span.text-secondary three 
            options for water meters viz., Piston type and Ultrasonic type. Both have proven performance records. SimplySmart water meters are easy to install and can be considered during new plumbing or can even be fitted with the existing plumbing at each inlet point. 
      %div.d-flex.gap-5.px-5
        %div.flex-1
          %h2.fw-bold.text-primary Managing water was never so easy before!
          %p.mb-0 SimplySmart offers water meters and a cloud-based software platform to record the water data, which can be accessed via PC or even a smartphone. Once the meters are operational, your township is allotted a separate account on the dedicated web server of SimplySmart, ensuring a high level of security. You can access the data of all the users, get real-time alerts and timely insights to manage water or initiate relevant actions, such as ordering tankers. Using this user-friendly software you can also generate bills for individual users that can be automatically sent via email or WhatsApp. Individual users can access their own consumption data via a mobile app. This helps them to understand their usage pattern and exercise control on water usage as well as know the leakages, if any. Our experience shows that the 'Pay for what is used' model creates a great sense of accountability and at some places, has helped reduce water
        %div.flex-1
          = image_tag("ss-laptop", :alt => "laptop", :class => "w-100") 
      %div.px-5
        %h2.fw-bold.text-primary.text-center.mb-4 What Benefits does SimplySmart offer?
        %ul.benefits-list-wrap.list-unstyled.mb-0.p-0.d-flex.flex-wrap.gap-3.justify-content-center
          %li.benefits-list-item.border.border-primary.d-flex.align-items-center.text-center.fw-bold 
            100% Automation that works for you
          %li.benefits-list-item.border.border-primary.d-flex.align-items-center.text-center.fw-bold 
            Comprehensive water management dashboard
          %li.benefits-list-item.border.border-primary.d-flex.align-items-center.text-center.fw-bold 
            Real-time water leakage alerts
          %li.benefits-list-item.border.border-primary.d-flex.align-items-center.text-center.fw-bold 
            Dependable and remotely operable control valve
          %li.benefits-list-item.border.border-primary.d-flex.align-items-center.text-center.fw-bold 
            Daily health diagnostics of the complete system
          %li.benefits-list-item.border.border-primary.d-flex.align-items-center.text-center.fw-bold 
            Unique wired and wireless architecture
          %li.benefits-list-item.border.border-primary.d-flex.align-items-center.text-center.fw-bold 
            Guaranteed peace of mind



  