%div.ss-page-content.d-flex.flex-column.flex-1
  .card.ss-card.border-0.flex-1
    .card-body.d-grid.gap-5.px-4.py-5.p-lg-5
      %div
        %h2.fw-bold.text-primary.mb-4 Privacy Policy
        %div.client-list.d-flex.flex-wrap
          %p.mb-0 Welcome to SimplySmart Technologies Pvt. Ltd, a provider of comprehensive water management solutions for residential and commercial projects. This Privacy Policy outlines how we collect, use, and safeguard your personal data when you interact with our website, mobile app, and services. By using SimplySmart’s services, you agree to the practices described in this policy.

          %div
            %h2.text-primary Information SimplySmart Collects
            %p.mb-0 At SimplySmart, we collect two types of information:
            %div
              %li 
                %strong Personal Information: 
                This includes your name, email address, mailing address, phone number, and payment details such as credit card information.
              %li 
                %strong Non-Personal Information: 
                This covers technical data, including browser type, operating system, IP address, and Internet service provider. It’s important to note that we do not use cookies to track user behavior on our website or mobile app.
          %div
            %h2.text-primary  How the Information is Collected
            %p.mb-0 Information is collected through the following methods:
            %div
              %li 
                %strong Directly from You: 
                This occurs when you sign up, place orders, or communicate with SimplySmart.
              %li 
                %strong Automatically: 
                Water usage data is collected by SimplySmart water meters and transmitted securely using the MQTT protocol with TLS encryption.
              %li 
                %strong Third-Party Services: 
                We utilize Cloud for hosting and third-party payment gateways for payment processing. However, SimplySmart directly manages the data collected by these services
          
          %div
            %h2.text-primary  Why the Information is Collected
            %p.mb-0 The primary purposes for which SimplySmart collects information include:
            %div
              %li Providing water consumption insights and analytics
              %li Improving the performance of SimplySmart’s services.
              %li Managing billing and subscriptions.
              %li Fulfilling society management requirements, such as enabling/disabling billing features or leakage alerts.
            
          %div
            %h2.text-primary  User Privacy Controls
            %p.mb-0 SimplySmart offers flexibility in data and service options based on society management preferences, rather than individual users. Some privacy control features include:
            %div
              %li 
                %strong Feature Control: 
                Billing or leakage alert services can be enabled or disabled based on society management decisions.
              %li 
                %strong Opt-Out Options: 
                Individual residents can request to opt out of certain features through their society management team.
            
          %div
            %h2.text-primary  Sharing Your Information and Disclosures
            %p.mb-0 At SimplySmart, we do not share personal information for marketing purposes. Information may only be shared in the following cases:
            %div
              %li 
                %strong Third-Party Service Providers: 
                Data is shared with service providers for hosting and payment gateways for processing transactions..
              %li 
                %strong Legal Requirements: 
                Data may be disclosed when required by law or to comply with legal processes.
          
          %div
            %h2.text-primary  Your Information Security
            %p.mb-0 We take your information security seriously at SimplySmart, employing robust measures to protect your data, including:
            %div
              %li 
                %strong SSL Encryption: 
                All communication between our site/app and your device is encrypted using HTTPS.
              %li 
                %strong MQTT Protocol with TLS: 
                Data from water meters is securely transmitted using MQTT with TLS encryption.
          
          %div
            %h2.text-primary  Your Information Retention and Deletion
            %p.mb-0 In terms of data retention, SimplySmart follows these guidelines:
            %div
              %li 
                %strong Raw Data: 
                Retained for 60 days to support operational needs.
              %li 
                %strong Aggregated Data: 
                Retained for up to 1 year for analytics and reporting.
            %p.mb-0 In the event that a society or user requests data deletion, SimplySmart will comply in accordance with legal and operational obligations.

          %div
            %h2.text-primary  Role and Details of Data Protection Officer (DPO)
            %p.mb-0 SimplySmart Technologies Pvt. Ltd has a dedicated Data Protection Officer (DPO) responsible for overseeing data privacy and security. For any questions or concerns, you can contact the DPO at:
            %ul 
              %strong Data Protection Officer
            %ul SimplySmart Technologies Pvt. Ltd
            %ul 
              %a{href: "mailto:info@simplysmart.tech"} info@simplysmart.tech
        
        %hr
        %div
          %p.mb-0 By using SimplySmart’s services, you acknowledge and consent to the practices outlined in this privacy policy. If you have any questions or require clarification on any aspect of this policy, please feel free to contact us.