%div.ss-page-content.d-flex.flex-column.flex-1
  .card.ss-card.border-0.flex-1
    .card-body.d-grid.gap-5.px-4.py-5.p-lg-5
      %div
        %h2.fw-bold.text-primary.mb-4 Refund Policy
        %div.client-list.d-flex.flex-wrap
          %p.mb-0 
            SimplySmart services are provided on a subscription basis, which may include access to water consumption data, alerts, and other features. Please be aware that using SimplySmart services might require a one-time investment in hardware (e.g., water meters) and an ongoing yearly subscription. 
            %strong Payments related to water usage are processed securely through a third-party payment gateway and transferred directly to the respective society's accounts.

          %p.mb-0 As SimplySmart does not manage or hold payments, any requests for refunds or disputes regarding payments must be directed to your society's management committee. SimplySmart is not responsible for processing refunds or resolving any financial disputes related to payments made to society accounts.