%div.ss-page-content.d-flex.flex-column.flex-1
  .card.ss-card.border-0.flex-1
    .card-body.d-grid.gap-5.p-5
      %div
        %h2.fw-bold.text-primary.mb-4 SimplySmart Water Meters
        %p.mb-0 
          We provide 
          %span.text-secondary three 
          options for water meters viz., Piston type and Ultrasonic type. Both have proven performance records. SimplySmart water meters are easy to install and can be considered during new plumbing or can even be fitted with the existing plumbing at each inlet point.
      %div.d-flex.gap-4
        %div.flex-1
          = image_tag("water-meter1", :alt => "water meter", :class => "d-block meter-img mx-auto mb-4 text-center") 
          %h5.text-secondary.fw-bold Flow ON
          %h5.fw-bold Piston Type Water Meter
          %ul.mb-0.ps-3
            %li Unique grooved piston fitted in the measuring chamber of the meter almost nullifies the chances of stoppages
            %li Co-polymer resin body can withstand even hard water
            %li High level of accuracy 
            %li High durability and reliable performance in accordance with ISO 4064
            %li Type tested and certified by FCRI, Palakkad
            %li Available in sizes DN 15, DN 20 & DN 25 
            %li Electronics housed in a separate box
            %li Battery life – 10 years (Li-ion battery)  
        %div.flex-1
          = image_tag("water-meter2", :alt => "water meter", :class => "d-block meter-img mx-auto mb-4 text-center") 
          %h5.text-secondary.fw-bold FlowON PREPAID
          %h5.fw-bold Piston Type Water Meter
          %ul.mb-0.ps-3
            %li Unique grooved piston fitted in the measuring chamber of the meter almost nullifies the chances of stoppages
            %li Co-polymer resin body can withstand even hard water
            %li High level of accuracy
            %li High durability and reliable performance in accordance with ISO 4064
            %li Type tested and certified by FCRI, Palakkad
            %li Available in sizes DN 15, DN 20 & DN 25 
            %li Electronics housed in a separate box
            %li Battery life – 10 years (Li-ion battery)
        %div.flex-1
          = image_tag("water-meter3", :alt => "water meter", :class => "d-block meter-img mx-auto mb-4 text-center") 
          %h5.text-secondary.fw-bold DWM
          %h5.fw-bold Ultrasonic Water Meter
          %ul.mb-0.ps-3
            %li Based on ultrasound principle. Uses ultrasonic transducers and acoustic reflectors 
            %li High level of accuracy
            %li Supports IoT-ready wireless communication
            %li Co-polymer resin body can withstand even hard water
            %li Robust construction and reliable electronics for a long life
            %li Compact design. Can fit in confined, narrow spaces of existing plumbing
            %li Available in sizes from DN 15 to DN 40
            %li Battery life – 10 years (Li-ion battery) 