%div.ss-page-content.d-flex.flex-column.flex-1
  .card.ss-card.border-0.flex-1
    .card-body.d-grid.gap-5.px-4.py-5.p-lg-5
      %div
        %h2.fw-bold.text-primary.mb-4 Terms And Conditions
        %div.client-list.d-flex.flex-wrap
          %p.mb-0 Welcome to SimplySmart Technologies Pvt. Ltd ("SimplySmart"). By accessing or using our website https://www.simplysmart.tech and mobile application, you agree to comply with and be bound by the following terms and conditions. Please review these terms carefully. If you disagree with these terms, you should not use our website or services.

          %div
            %h2.text-primary Acceptance of Terms
            %p.mb-0 By using SimplySmart’s website, mobile app, or any of our services, you acknowledge that you have read, understood, and agree to be bound by these Terms and Conditions and our Privacy Policy. These terms may be updated or modified without prior notice, and your continued use of the services constitutes your acceptance of the updated terms.
          
          %div
            %h2.text-primary Services Provided
            %p.mb-0 SimplySmart offers a comprehensive water management solution, which includes hardware (such as water meters with data recorders and transmitters) and cloud-based software to track water consumption, manage billing, and provide analytical insights. The system also provides optional features like leakage alerts, billing summaries, and consumption reports, based on the specific requirements of the society or property management team.
          %div
            %h2.text-primary  User Responsibilities
            %p.mb-0 By using SimplySmart services, you agree to:
            %div
              %li Provide accurate and complete information when registering for and using our services.
              %li Maintain the security of your login credentials and notify us immediately of any unauthorized use or security breach.
              %li Use the services only for lawful purposes and in accordance with these Terms and Conditions.
            %br
            %div
              %p.mb-0 You agree not to:
              %li Tamper with, modify, or reverse-engineer the SimplySmart hardware or software.
              %li Use the service for any fraudulent or illegal activity.

          %div
            %h2.text-primary Subscription and Payment Terms
            %p.mb-0 SimplySmart services are provided on a subscription basis. Access to water consumption data, alerts, and other features may require a one-time investment in the hardware (such as water meters) and an ongoing yearly subscription. Payments for water usage will be processed securely through a third-party payment gateway. 
            %p.mb-0
              %strong Please note that payments are directly transferred to the respective society’s accounts. SimplySmart does not manage or hold these payments.
            %br
            %p.mb-0
              %strong Refund Policy:
              Any requests for refunds or payment-related disputes must be directed to and handled by your society's management committee. SimplySmart is not responsible for processing refunds or resolving financial disputes related to payments made to society accounts.
          %div
            %h2.text-primary Data Collection and Usage
            %p.mb-0 SimplySmart collects and processes data related to water consumption and other related metrics. For further details on how we collect, use, and protect your data, please refer to our Privacy Policy.
            %br
            %p.mb-0 SimplySmart will not share or sell your personal information for marketing purposes. Data is used strictly for the purposes of providing and improving our services, as outlined in the Privacy Policy.

          %div
            %h2.text-primary Restrictions on Use
            %p.mb-0 You agree not to misuse or interfere with the operation of SimplySmart services. Prohibited actions include but are not limited to:
            %li Engaging in activities that may harm, disrupt, or compromise the performance of SimplySmart's system or services.
            %li Attempting to bypass or breach any security protocols.
            %li Using the services in violation of any applicable laws.
          
          %div 
            %h2.text-primary Termination
            %p.mb-0 SimplySmart reserves the right to suspend or terminate your access to its services at any time if:
            %li You violate these terms and conditions.
            %li There is suspicion of fraudulent or illegal activity associated with your account.
            %li Your subscription payment is overdue or remains unpaid after repeated reminders.
            %p.mb-0 Upon termination, you will no longer have access to SimplySmart’s services, and any outstanding amounts must be paid.
          
          %div
            %h2.text-primary Intellectual Property
            %p.mb-0 All content and services provided by SimplySmart, including but not limited to the website, mobile app, hardware designs, software, and all associated intellectual property, are owned by SimplySmart Technologies Pvt. Ltd. and are protected by intellectual property laws.
            %br
            %p.mb-0 Users are prohibited from reproducing, distributing, or publicly displaying any part of SimplySmart's intellectual property without prior written consent

          %div
            %h2.text-primary Limitation of Liability
            %p.mb-0 SimplySmart will make reasonable efforts to ensure that its services operate securely and efficiently. However, you agree that SimplySmart is not liable for:
            %li Any direct, indirect, incidental, or consequential damages that may arise from the use or inability to use our services.
            %li Any interruption, suspension, or termination of services due to unforeseen technical issues or maintenance activities.
            %li SimplySmart will not be responsible for any damages arising from inaccurate water usage data, missed alerts, or billing discrepancies, except where explicitly required by applicable law.

          %div
            %h2.text-primary Indemnification
            %p.mb-0 You agree to indemnify and hold harmless SimplySmart, its officers, employees, agents, and affiliates from any claims, damages, liabilities, losses, or expenses arising from:
            %li Your use of SimplySmart services.
            %li Your violation of these Terms and Conditions or any applicable law.
            %li Any third-party claims related to your use of the services.

          %div
            %h2.text-primary Governing Law and Jurisdiction
            %p.mb-0 These Terms and Conditions shall be governed by and construed in accordance with the laws of India. Any disputes arising out of or related to these terms or the use of SimplySmart services will be subject to the exclusive jurisdiction of the courts in Pune, Maharashtra.

          %div
            %h2.text-primary Amendments to Terms
            %p.mb-0 SimplySmart reserves the right to modify these Terms and Conditions at any time. Any updates will be posted on the website, and it is your responsibility to review them periodically. Continued use of the services after any changes indicates your acceptance of the revised terms.

          %div
            %h2.text-primary Contact Information
            %p.mb-0 If you have any questions or concerns about these Terms and Conditions, please contact us at:
            %br
            %ul 
              %strong SimplySmart Technologies Pvt. Ltd
            %ul 
              %a{href: "mailto:info@simplysmart.tech"} info@simplysmart.tech



