html,
body {
  min-height: 100vh;
}

body {
  font-family: $font-family-base;
  color: $gray-20;
  @include scrollbars();
  display: flex;
  flex-direction: column;
}

//header
.ss-navbar {

  .nav-item {
    font-weight: bold;
    &:not(:first-child) {
      @include media-breakpoint-up(lg) {
        border-left: 1px solid $raven-black;
      }
    }

    .nav-link {
      color: $raven-black;
      &.active {
        color: $orange-cinnabar;
      }
    }
  }
}

.ss-site-logo {
  width: auto;
  height: 2.5rem;
}

.ss-carousel-section{
  background:transparent url(site-bg.png) no-repeat top center;
  background-size: cover;
  background-position: center;
  height: 40rem;
}

.ss-carousel {

  .carousel-item {

    .heading-box {
      max-width: 500px;
    }

    .carousel-heading {
      font-size: 3.25rem;
      color: $blue-pelorous;
      font-weight: 500;
    }
  }

  .carousel-inner {
    padding: 4.5rem;
  }

  .carousel-slider-img {
    width: auto;
    height: 28rem;
  }
}