html,
body {
  min-height: 100vh;
}

body {
  font-family: $font-family-base;
  color: $gray-20;
  @include scrollbars();
  display: flex;
  flex-direction: column;
}

//header
.ss-navbar {

  .nav-item {
    font-weight: bold;
    &:not(:first-child) {
      @include media-breakpoint-up(lg) {
        border-left: 1px solid $raven-black;
      }
    }

    .nav-link {
      color: $raven-black;
      text-align: right;

      @include media-breakpoint-up(lg) {
        text-align: center;
      }
      &.active {
        color: $orange-cinnabar;
      }
    }
  }
}

.ss-header {

  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
  }

  .navbar-toggler-icon {
    background-image: url(hamburger-menu.png);
  }
}

.ss-site-logo {
  width: auto;
  height: 2.5rem;
}

.ss-carousel-section{
  background:transparent url(site-mobile-bg.png) no-repeat;
  background-size: cover;
  background-position:top -5rem center;
  height: 40rem;
  
  @include media-breakpoint-up(md) {
    background:transparent url(site-bg.png) no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 45rem;
  }
}

.ss-carousel {

  .carousel-item {

    .heading-box {
      @include media-breakpoint-up(lg) {
        max-width: 500px;
      }
    }

    .carousel-heading {
      font-size: 2rem;
      color: $blue-pelorous;
      font-weight: 500;

      @include media-breakpoint-up(lg) {
        font-size: 3.25rem;
      }
    }
  }

  .carousel-inner {
    padding: 1rem;

    @include media-breakpoint-up(lg) {
      padding: 4.5rem;
    }
  }

  .carousel-img-wrap {
    @include media-breakpoint-up(lg) {
      flex: 1;
    }
  }
  
  .carousel-slider-img {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 70%;
    }
    @include media-breakpoint-up(lg) {
      width: auto;
      height: 32rem;
    }
  }
}

.ss-main-section {
  background-color: $blue-terrace-pool;
}

.ss-content-section {
  padding: 0 1rem;
}

.ss-page-content {
  padding: 0;
}

.ss-content-section, .ss-page-content {
  @include media-breakpoint-up(lg) {
    padding: 0 6rem;
  }
}

.ss-card {
  box-shadow: -8px -8px 24px rgba(0, 0, 0, 0.05), 8px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 75px 75px 0px 0px;
  margin-top:-4rem;

  @include media-breakpoint-up(md) {
    margin-top: 0;
  }

  @include media-breakpoint-up(lg) {
    margin-top:-6rem;
  }

  p {
    color: $gray-20;
  }
}

.benefits-list-item {
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  max-width: 12rem;
  height: 6.25rem;
}

.meter-img {
  width: 15rem;
  height: auto;
}