// Color
$white: #fff;
$black: #000;
$raven-black:#3F3B3C;
$gray-20: #333333;
$blue-french-pass: #9ED5DE;
$blue-pelorous:#23A1BB;
$orange-cinnabar: #F04F22;

$font-family-poppins:  'Poppins', sans-serif;
$font-family-base: $font-family-poppins;

$body-bg: $blue-french-pass;